[submodule "odoo"]
	path = odoo
	url = https://github.com/odoo/odoo.git
	branch = 18.0
[submodule "extra_addons/openeducat_erp"]
	path = extra_addons/openeducat_erp
	url = https://github.com/openeducat/openeducat_erp.git
